.button {
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
  color: black;
    
  }
  
  .button.selected {
    background-color: #007bff;
  }
  
  
  .button,
  .button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    color: black;
    background-color: transparent;
    position: relative;
  
  }
  
  .button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px red, 3px 3px 0px black;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .button:hover {
    text-shadow: -1px -1px 0px green;
  }
  
  .button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  .btnassist {
    font-size: 15px;
    padding: 0.7em 2.7em;
  }
