.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  background-color: #f3f3f3;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  width: 300px;
  outline: none;
}

.search-input:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnAssistido{
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #f40612;
}

.OrderByContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-right: 1rem;
}





